/* CSS Document */
@font-face {
    font-family: "Swiss";
    src: url("UTM-Swiss-Condensed.ttf");
}
@font-face {
    font-family: "SwissBold";
    src: url("UTM-Swiss-CondensedBold.ttf");
}
body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #454545;
}
a img {
    border: none;
}
div.clear {
    clear: both;
}
@media all and (min-width: 320px) {
    nav:not(.mm-menu) {
        display: none;
    }
    a.header_menu {
        background: center center no-repeat transparent;
        background-image: url(../images/menu-icon.png);
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 15px;
        left: 10px;
    }
    div.header {
        margin: auto;
        background-color: #0888d2;
    }
    div.header-menu {
        margin: auto;
        height: 70px;
        padding: 0px 10px;
    }
    a.header-logo {
        display: block;
        float: right;
        width: 150px;
        margin: 5px 0px;
    }
    a.header-logo img {
        width: 150px;
        max-height: 60px;
    }
    div.header-banner {
        margin: auto;
        position: relative;
    }
    div.header-banner img {
        width: 100%;
    }
    div.banner_over {
        position: absolute;
        top: -3px;
        width: 100%;
        height: 15px;
        background: url(../images/line-banner.png) repeat-x;
    }
    div.support-box {
        margin: auto;
        background-color: #ebebeb;
        border-top: 1px solid #d2d2d2;
        height: 1px;
    }
    div.about-highlight {
        margin: auto;
        background: url(../images/about-highlight.png) center 40px no-repeat;
        padding: 10px;
        background-size: 70%;
    }
    h3.about-highlight-title {
        margin: 0px;
        padding: 0px 0px 160px;
        font-size: 24px;
        font-family: "SwissBold";
        font-weight: normal;
        color: #0888d2;
    }
    div.about-highlight-content {
        text-align: justify;
        font-style: italic;
        line-height: 24px;
        font-size: 15px;
    }
    div.fiction-company-item {
        float: left;
        padding: 10px;
        width: 41%;
        text-align: center;
        word-spacing: -1px;
        font-size: 13.5px;
        border: 1px solid #e9e9e9;
        margin-right: 10px;
        height: 190px;
        margin-bottom: 10px;
        border-radius: 3px;
    }
    div.fiction-company-item:nth-child(2n) {
        margin-right: 0px;
    }
    div.fiction-company {
        margin: auto;
        padding: 10px;
    }
    div.fiction-company-content {
        padding-top: 20px;
    }
    div.product-highlight {
        padding: 10px 0px;
        background-color: #ededed;
        border-top: 1px solid #d1d1d1;
        border-bottom: 1px solid #d1d1d1;
        margin: auto;
    }
    div.product-highlight-list {
        padding: 10px;
    }
    h1.product-highlight-title,
    h2.product-highlight-title,
    h3.product-highlight-title {
        margin: 0px;
        padding: 0px 0px 15px;
        font-weight: normal;
        color: #0888d2;
        font-size: 20px;
        font-family: "SwissBold";
        text-align: left;
        text-transform: uppercase;
    }
    div.product-highlight-description {
        text-align: justify;
        line-height: 24px;
        background: url(../images/line1.png) center bottom no-repeat;
        padding: 0px 0px 20px;
        margin-bottom: 20px;
    }
    div.product-highlight-item {
        border: 1px solid #d1d1d1;
        border-radius: 2px;
        margin-bottom: 15px;
    }
    a.product-highlight-img {
        display: block;
        background-color: #fff;
        height: 192px;
        padding: 18px 15px;
        text-align: center;
        border-radius: 2px 2px 0px 0px;
    }
    a.product-highlight-img img {
        height: 192px;
    }
    div.product-highlight-item-title {
        padding: 10px 10px 5px;
        border-top: 1px solid #e4e4e4;
        background-color: #f4f4f4;
    }
    a.title1 {
        font-size: 20px;
        text-decoration: none;
        font-family: "Swiss";
        color: #0888d2;
    }
    a:hover.title1 {
        text-decoration: underline;
    }
    div.product-highlight-item-description {
        text-align: justify;
        padding: 10px;
        background-color: #f4f4f4;
    }
    div.news-highlight {
        margin: auto;
        padding: 10px 10px;
        background-color: #f8f8f8;
    }
    div.news-highlight-list {
        padding: 10px 0px 10px;
        border-bottom: 1px solid #d1d1d1;
    }
    div.news-highlight-list:nth-child(3) {
        padding-right: 0px;
    }
    h1.news-highlight-title,
    h2.news-highlight-title,
    h3.news-highlight-title,
    h4.news-highlight-title {
        margin: 0px;
        padding: 0px 0px 20px;
        text-transform: uppercase;
        font-weight: normal;
    }
    a.news-highlight-img {
        display: block;
        border: 1px solid #d9d9d9;
        border-radius: 5px;
    }
    a.news-highlight-img img {
        width: 100%;
        max-height: 188px;
        border-radius: 5px;
    }
    div.news-highlight-list-item {
        padding: 20px 0px;
    }
    div.news-highlight-item {
        padding-bottom: 15px;
    }
    a.news-highlight-item-img {
        display: block;
        float: left;
        width: 90px;
        height: 63px;
        border: 1px solid #d9d9d9;
        border-radius: 5px;
        margin-right: 15px;
    }
    a.news-highlight-item-img img {
        width: 90px;
        height: 63px;
        border-radius: 5px;
    }
    a.title2 {
        text-decoration: none;
        color: #454545;
    }
    a:hover.title2 {
        text-decoration: underline;
        color: #0888d2;
    }
    div.news-highlight-list-item ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
    div.news-highlight-list-item li {
        background: url(../images/dot1.png) 0px 3px no-repeat;
        padding: 0px 0px 10px 28px;
    }
    div.footer {
        margin: auto;
        background-color: #0888d2;
        padding: 20px 0px;
    }
    div.footer-content {
        padding: 20px 10px 10px;
        border-top: 1px solid #e2e2e2;
    }
    div.footer-logo {
    }
    div.footer-logo-img {
        padding-bottom: 20px;
        text-align: center;
    }
    a.footer-logo-img {
        display: block;
    }
    a.footer-logo-img img {
        width: 40%;
    }
    div.footer-address {
        padding: 15px 0px 0px;
    }
    div.footer-title {
        padding: 0px 0px 15px;
        color: #fff;
        text-transform: uppercase;
        font-family: "SwissBold";
        font-size: 16px;
    }
    div.footer-address-content {
        color: #fff;
        font-size: 13px;
    }
    div.footer-menu {
        padding: 20px 0px 30px;
    }
    div.footer-menu ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
    div.footer-menu li {
        background: url(../images/dot2.png) 0px 6px no-repeat;
        padding-left: 15px;
        padding-bottom: 10px;
    }
    a.title3 {
        text-decoration: none;
        color: #fff;
    }
    a:hover.title3 {
        text-decoration: underline;
    }
    div.footer-social {
        padding: 0px;
        text-align: center;
    }
    div.footer-social a {
        margin-right: 5px;
    }
    div.hotline {
        float: left;
        width: 40%;
        height: 18px;
        padding: 4px 10px;
    }
    span.hotline-icon {
        display: none;
    }
    div.support-box-content {
        margin: auto;
        width: 100%;
        position: fixed;
        bottom: 0px;
        /*background-color: #ebebeb;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #dbdbdb;*/
        padding: 4px 0px;
    }
    a.hotline-phone {
        background: #ff8800 url("../images/call-us.png") no-repeat scroll left
            center / 20% auto;
        border: 1px solid #a45801;
        border-radius: 7px;
        color: #fff;
        display: inline-block;
        font-family: "SwissBold";
        font-size: 16px;
        line-height: 32px;
        padding: 0 10px 0 30px;
        text-decoration: none;
    }
    div.support-button {
        float: left;
        padding: 3px 0px;
        width: 52%;
    }
    div.support-button img {
        width: 100%;
    }
    div.search-form {
        display: none;
    }
    form.search-form {
        display: block;
        padding: 0px;
        padding: 0px 4px 0px 10px;
        background: url(../images/search-bg.png) no-repeat;
        height: 32px;
        width: 255px;
    }
    input.search-key {
        border: none;
        background: transparent;
        height: 32px;
        line-height: 32px;
        width: 215px;
        float: left;
    }
    input.search-button {
        height: 32px;
        width: 32px;
        border: none;
        background: url(../images/search-icon.png) no-repeat;
        cursor: pointer;
    }
    div.breadcrumb {
        margin: auto;
        padding: 10px 10px;
    }
    div.breadcrumble_home {
        float: left;
        padding-right: 10px;
        margin-right: 5px;
        background: url(../images/breadcrumb.png) right no-repeat;
    }
    a.breadcrumble_title {
        text-decoration: none;
        color: #656565;
        font-style: italic;
        font-size: 12px;
    }
    a.breadcrumble_title:hover {
        text-decoration: underline;
    }
    span.breadcrumble_title {
        font-size: 12px;
        font-style: italic;
    }
    div.submenu-highlight {
        margin: auto;
        width: 1110px;
        padding: 0px 0px 20px;
    }
    h4.submenu-highlight-title {
        margin: 0px;
        padding: 0px 0px 15px;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: normal;
    }
    div.submenu-highlight ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
    div.submenu-highlight li {
        text-decoration: none;
        background: url(../images/service-dot.png) 0px 5px no-repeat;
        padding-left: 18px;
        display: inline-block;
        padding-bottom: 15px;
        padding-right: 25px;
    }
    div.submenu-highlight li a {
        color: #656565;
        text-decoration: none;
    }
    h1.news-list-title,
    h2.news-list-title,
    h3.news-list-title {
        margin: 0px 0px 40px;
        padding: 0px 0px 20px;
        font-size: 36px;
        font-family: "SwissBold";
        color: #0888d2;
        text-align: center;
        background: url(../images/line1.png) center bottom no-repeat;
    }
    div.news-list {
        margin: auto;
        padding: 0px 0px;
        width: 1110px;
    }
    div.news-item {
        float: left;
        width: 500px;
        padding-bottom: 40px;
    }
    div.news-item:nth-child(2n) {
        float: right;
    }
    a.news-item-img {
        display: block;
        float: left;
        width: 130px;
        margin-right: 20px;
        margin-top: 5px;
    }
    a.news-item-img img {
        width: 130px;
        height: 90px;
    }
    div.news-item-right {
        float: left;
        width: 350px;
    }
    a.title4 {
        font-family: "Swiss";
        color: #0888d2;
        font-size: 18px;
        text-decoration: none;
    }
    a:hover.title4 {
        text-decoration: underline;
    }
    div.news-item-description {
        color: #757575;
        padding: 10px 0px;
    }
    div.pagelist {
        padding: 20px 0px;
        text-align: center;
        border-bottom: 1px solid #d1d1d1;
    }
    div.pagelist span {
        display: inline-block;
        height: 35px;
        width: 35px;
        border: 1px solid #d1d1d1;
        border-radius: 2px;
        line-height: 35px;
        font-weight: bold;
    }
    div.pagelist a {
        display: inline-block;
        height: 35px;
        width: 35px;
        border: 1px solid #d1d1d1;
        border-radius: 2px;
        line-height: 35px;
        font-weight: normal;
        color: #0888d2;
        text-decoration: none;
    }
    div.pagelist a:hover {
        background: #e6f1e9;
    }
    div.news-detail {
        margin: auto;
        padding: 10px;
    }
    h1.news-detail-title {
        margin: 0px;
        padding: 0px 0px 20px;
        font-size: 22px;
        font-family: "SwissBold";
        color: #0888d2;
    }
    div.news-detail-summery {
        font-style: italic;
        padding-bottom: 20px;
        color: #757575;
        text-align: justify;
    }
    div.news-detail-content {
        padding-bottom: 30px;
        border-bottom: 1px solid #d1d1d1;
        text-align: justify;
        overflow: hidden;
    }
    div.news-detail-content {
        max-width: 100%;
    }
    div.news-related {
        padding: 20px 0px;
        border-bottom: 1px solid #d1d1d1;
    }
    h4.news-related-title {
        text-transform: uppercase;
        font-family: "SwissBold";
        font-size: 20px;
        margin: 0px;
        padding: 0px 0px 20px;
    }
    div.news-related-item {
        padding-bottom: 30px;
    }
    div.news-related-item:nth-child(2n) {
        padding-right: 0px;
    }
    a.news-related-img {
        display: block;
        float: left;
        width: 90px;
        margin-right: 20px;
        margin-top: 4px;
    }
    a.news-related-img img {
        width: 90px;
        white-space: 65px;
    }
    div.news-related-right {
        float: left;
        width: 190px;
    }
    a.title5 {
        font-family: "Swiss";
        color: #0888d2;
        font-size: 16px;
        text-decoration: none;
        line-height: 18px;
    }
    a.title5:hover {
        text-decoration: underline;
    }
    div.news-related-description {
        display: none;
    }
    a.news-viewmore {
        text-decoration: none;
        text-transform: uppercase;
        color: #0888d2;
        font-style: italic;
        background: url(../images/viewmore_dot.png) right no-repeat;
        padding-right: 15px;
    }
    a:hover.news-viewmore {
        text-decoration: underline;
    }
    div.product-list {
        margin: auto;
        padding: 20px 10px 10px;
        border-bottom: 1px solid #d1d1d1;
    }
    div.product-list div.product-highlight-item {
        padding-bottom: 40px;
    }
    h1.product-detail-title,
    h2.product-detail-title,
    h3.product-detail-title {
        margin: 0px;
        padding: 0px 0px 20px;
        font-family: "SwissBold";
        font-size: 30px;
        color: #0888d2;
        font-weight: normal;
    }
    img.product-detail-img {
        float: left;
        width: 330px;
        padding-right: 50px;
    }
    div.product-detail-right {
        float: left;
        width: 700px;
    }
    div.product-detail-description {
        padding-bottom: 20px;
        font-style: italic;
    }
    div.product-price {
        padding-bottom: 20px;
    }
    span.product-price {
        color: #ff8f10;
        font-family: "SwissBold";
        font-size: 20px;
    }
    span.product-price-title {
        text-transform: uppercase;
    }
    div.product-detail-content {
        padding: 20px 0px;
        border-bottom: 1px solid #d1d1d1;
        margin-bottom: 20px;
    }
    h2.product-related-title,
    h3.product-related-title,
    h4.product-related-title {
        text-transform: uppercase;
        font-family: "SwissBold";
        font-size: 20px;
        margin: 0px;
        padding: 0px 0px 20px;
    }

    label.fotm_label {
        color: #474747;
        display: inline-block;
        font-size: 13px;
        font-weight: 400;
        line-height: 24px;
        margin: 0;
        padding: 0 0 18px;
        text-transform: uppercase;
        width: 120px;
    }
    input.form_name,
    textarea.form_content {
        border: 1px solid #c9c9c9;
        border-radius: 5px;
        color: #474747;
        font-size: 15px;
        margin-bottom: 0;
        padding: 5px 10px;
        width: 300px;
    }
    textarea.form_content {
        height: 100px;
        width: 300px;
    }
    span.require_form {
        color: red;
    }
    input.form_submit_contact {
        background: #1c5f27 none repeat scroll 0 0;
        border: medium none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        font-weight: 700;
        height: 32px;
        padding: 0 20px;
        text-transform: uppercase;
    }
    div.nh_item {
        border-bottom: 1px solid #d1d1d1;
        margin: auto;
        padding: 30px 10px;
    }
    div.nh_item2 {
        background-color: #ededed;
    }
    div.nh_item div.nh_item_content {
        margin: auto;
    }
    div.nh_item div.nh_item_img {
        border: 1px solid #d1d1d1;
        border-radius: 50%;
        float: left;
        margin-right: 20px;
        padding: 5px;
    }
    div.nh_item div.nh_item_img a {
        display: block;
    }
    div.nh_item div.nh_item_img img {
        border-radius: 50%;
        height: 120px;
        width: 120px;
    }
    div.nh_item p.nh_item_title {
        color: #0888d2;
        font-size: 20px;
        margin: 0;
        padding: 20px 0 20px;
        color: #0888d2;
        font-family: "SwissBold";
        text-transform: uppercase;
    }
    p.nh_item_title a {
        color: #0888d2;
        font-family: "SwissBold";
        text-transform: uppercase;
        text-decoration: none;
    }
    p.nh_item_title a:hover {
        text-decoration: underline;
    }
    div.nh_item div.nh_item_summary {
        line-height: 28px;
        text-align: justify;
    }

    div.nh_item div.product_item_img {
    }
    div.nh_item div.product_item_c {
    }
    div.nh_item2 div.product_item_img {
    }
    div.nh_item2 div.product_item_c {
    }
    div.nh_item div.product_item_img img {
        width: 100%;
    }
    div.nh_item h4.product_item_title {
        color: #0888d2;
        font-size: 20px;
        margin: 0;
        padding: 20px 0 20px;
        color: #0888d2;
        font-family: "SwissBold";
        text-transform: uppercase;
        font-weight: normal;
    }
    div.nh_item div.product_item_summary {
        line-height: 28px;
        text-align: justify;
    }
    div.product_item_price {
        color: #747474;
        font-family: "SwissBold";
        padding-bottom: 10px;
        text-transform: uppercase;
    }
    span.product_price {
        color: #f00;
    }
    a.hot_album_img {
        display: block;
        width: 220px;
        float: left;
    }
    a.hot_album_img img {
        width: 220px;
        height: 170px;
    }
    div.hot_album_imgright {
        float: left;
        width: 70px;
        padding-left: 10px;
    }
    div.hot_album_imgright a {
        display: block;
        margin-bottom: 10px;
    }
    div.hot_album_imgright img {
        width: 70px;
        height: 50px;
    }
    .video_home {
        width: 100%;
    }
    div.hot_video {
        padding-bottom: 15px;
    }
    div.blog_certificate {
        background: url(../images/bg_certificate.png) repeat;
    }
    div.fiction-company {
        padding: 10px;
    }
    p.fiction-bar {
        margin: 0px;
        padding-bottom: 4px;
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
    }
    div.fiction-bar {
        padding: 0px 0px 25px;
        color: #ace6c0;
        background: url(../images/line2.png) left bottom no-repeat;
    }
    div.fiction-company-item {
        float: none;
        text-align: left;
        word-spacing: -1px;
        font-size: 13.5px;
        border: none;
        margin: 0px;
        position: relative;
        height: auto;
        padding: 20px 0px 0px;
        width: 100%;
    }
    div.fiction-company-item img {
        position: absolute;
        border-radius: 40px;
        width: 50px;
        height: 50px;
        left: 0px;
        padding: 2px;
        border: 1px dashed #fff;
    }
    div.fiction-company-content {
        padding: 0px 0px 0px 70px;
        color: #ace6c0;
    }
    p.fiction_title {
        margin: 0px;
        padding: 0px 0px 4px;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 16px;
    }
    div.certificate_img {
        padding: 10px;
    }
    div.certificate_img div.jCarouselLitett img {
        width: 100%;
        height: 100%;
    }
    div.certificate_img button.prev {
        position: absolute;
        top: 180px;
        left: 10px;
        height: 42px;
        width: 42px;
        background: url(../images/arrow-left-2.png) no-repeat;
        z-index: 999;
        border: none;
        cursor: pointer;
    }
    div.certificate_img button.next {
        position: absolute;
        top: 180px;
        right: 10px;
        height: 42px;
        width: 42px;
        background: url(../images/arrow-right-2.png) no-repeat;
        z-index: 999;
        border: none;
        cursor: pointer;
    }
    div.product-highlight div.news-highlight-content {
        padding: 10px;
    }
}
@media all and (min-width: 360px) {
    a.hot_album_img {
        width: 260px;
    }
    a.hot_album_img img {
        width: 260px;
    }
    .video_home {
        width: 100%;
        height: 190px;
    }
}
@media all and (min-width: 375px) {
    div.news-related-right {
        float: left;
        width: 260px;
    }
    div.hot_album_imgright {
        width: 85px;
    }
    div.hot_album_imgright img {
        width: 85px;
    }
    .video_home {
        width: 100%;
        height: 200px;
    }
}
@media all and (min-width: 412px) {
    h3.about-highlight-title {
        padding: 0px 0px 180px;
    }
    div.support-button img {
        width: 80%;
    }
    a.hot_album_img {
        width: 280px;
    }
    a.hot_album_img img {
        width: 280px;
        height: 230px;
    }
    div.hot_album_imgright {
        width: 102px;
    }
    div.hot_album_imgright img {
        width: 102px;
        height: 70px;
    }
    .video_home {
        width: 100%;
        height: 220px;
    }
}
@media all and (min-width: 720px) {
    div.about-highlight {
        margin: auto;
        width: 460px;
        background: url(../images/about-highlight.png) left 25px no-repeat;
        height: 350px;
        padding: 30px 0px 0px 260px;
        background-size: 40%;
    }
    h3.about-highlight-title {
        padding: 0px 0px 20px;
    }
    div.fiction-company-item:nth-child(2n) {
        margin-right: 10px;
    }
    div.fiction-company-item:nth-child(3) {
        margin-right: 0px;
    }
    .video_home {
        width: 100%;
        height: 394px;
    }
    a.hot_album_img {
        width: 530px;
    }
    a.hot_album_img img {
        width: 530px;
        height: 380px;
    }
    div.hot_album_imgright {
        width: 160px;
    }
    div.hot_album_imgright img {
        width: 160px;
        height: 120px;
    }
}
@media all and (min-width: 1000px) {
    #banner_slide_ {
        max-width: 1366px;
        margin: auto;
        height: 626px;
    }
    div.header {
        margin: auto;
        background-color: #0888d2;
        position: relative;
        z-index: 999;
    }
    a.header_menu {
        display: none;
    }
    div.header-menu {
        margin: auto;
        height: 70px;
        width: 1100px;
        padding: 0px;
    }
    div.header-menu > nav {
        display: block;
        height: 70px;
        float: right;
        width: 900px;
    }
    a.header-logo {
        display: block;
        float: left;
        width: 150px;
        margin: 5px 0px;
    }
    a.header-logo img {
        width: 150px;
        max-height: 60px;
    }
    div.header-menu > nav > ul {
        margin: 0px;
        padding: 0px;
        display: block;
        height: 70px;
        list-style: none;
        text-align: right;
    }
    div.header-menu > nav > ul > li {
        display: inline-block;
        height: 70px;
        background: url(../images/menu-line.png) right repeat-y;
        position: relative;
    }
    div.header-menu > nav > ul > li.active {
        background: #44b7f9 url(../images/menu-line.png) right repeat-y;
    }
    div.header-menu > nav > ul > li:hover {
        background: #2ea4e8 url(../images/menu-line.png) right repeat-y;
    }
    div.header-menu > nav > ul > li > a {
        display: inline-block;
        height: 35px;
        color: #fff;
        padding: 35px 12px 0px;
        text-transform: uppercase;
        text-decoration: none;
    }
    div.header-menu > nav > ul > li > ul {
        display: block;
        margin: 0px;
        padding: 0px;
        position: absolute;
        left: 0px;
        top: 70px;
        width: 250px;
        background-color: #2ea4e8;
        z-index: 999;
        list-style: none;
        display: none;
    }
    div.header-menu > nav > ul > li > ul > li {
        text-align: left;
        display: block;
        min-height: 40px;
        border-top: 1px solid #0b91d0;
        border-bottom: 1px solid #44b7f9;
        background: url(../images/dot2.png) 10px 15px no-repeat;
    }
    div.header-menu > nav > ul > li > ul > li:hover {
        background-color: #44b7f9;
    }
    div.header-menu > nav > ul > li > ul > li > a {
        display: block;
        min-height: 40px;
        line-height: 40px;
        padding: 0px 15px 0px 25px;
        text-decoration: none;
        color: #ffffff;
    }
    div.header-menu > nav > ul > li:hover > ul {
        display: block;
    }
    div.header-banner {
        margin: auto;
        position: relative;
    }
    div.header-banner img {
        width: 100%;
    }
    div.banner_over {
        position: absolute;
        top: -3px;
        width: 100%;
        height: 15px;
        background: url(../images/line-banner.png) repeat-x;
    }
    div.support-box {
        margin: auto;
        background-color: #ebebeb;
        border-top: 1px solid #d2d2d2;
        border-bottom: 1px solid #dbdbdb;
        height: 43px;
    }
    div.about-highlight {
        margin: auto;
        width: 670px;
        background: url(../images/about-highlight.png) left bottom no-repeat;
        height: 350px;
        padding: 30px 0px 0px 440px;
    }
    h3.about-highlight-title {
        margin: 0px;
        padding: 20px 0px 20px;
        font-size: 36px;
        font-family: "SwissBold";
        font-weight: normal;
        color: #0888d2;
    }
    div.about-highlight-content {
        text-align: justify;
        font-style: italic;
        line-height: 24px;
        font-size: 15px;
    }
    div.fiction-company-item {
        float: none;
        text-align: left;
        word-spacing: -1px;
        font-size: 13.5px;
        border: none;
        margin: 0px;
        position: relative;
        height: 70px;
        padding-bottom: 20px;
        width: 100%;
    }
    div.fiction-company-item img {
        position: absolute;
        border-radius: 40px;
        width: 70px;
        height: 70px;
        left: -40px;
        padding: 2px;
        border: 1px dashed #fff;
    }
    div.fiction-company {
        margin: auto;
        width: 1110px;
    }
    div.fiction-bar {
        padding: 20px 30px 15px 40px;
        margin-left: 27px;
        color: #ace6c0;
        background: url(../images/line2.png) left bottom no-repeat;
    }
    p.fiction-bar {
        margin: 0px;
        padding-bottom: 4px;
        color: #fff;
        text-transform: uppercase;
        font-size: 24px;
    }
    div.fiction-company-content {
        padding: 0px 0px 0px 60px;
        color: #ace6c0;
    }
    p.fiction_title {
        margin: 0px;
        padding: 15px 0px 4px;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 16px;
    }
    div.product-highlight {
        padding: 30px 0px;
        background-color: #ededed;
        border-top: 1px solid #d1d1d1;
        border-bottom: 1px solid #d1d1d1;
        margin: auto;
    }
    div.product-highlight-list {
        margin: auto;
        width: 1110px;
    }
    h1.product-highlight-title,
    h2.product-highlight-title,
    h3.product-highlight-title {
        margin: 0px;
        padding: 0px 0px 15px;
        font-weight: normal;
        color: #0888d2;
        font-size: 36px;
        font-family: "SwissBold";
        text-align: center;
        text-transform: uppercase;
    }
    div.product-highlight-description {
        text-align: center;
        line-height: 24px;
        background: url(../images/line1.png) center bottom no-repeat;
        padding: 10px 0px 20px;
        margin-bottom: 20px;
    }
    div.product-highlight-item {
        float: left;
        width: 330px;
        padding-right: 60px;
        border: none;
        margin: 0px;
    }
    div.product-highlight-item.product-highlight-item-last {
        padding-right: 0px;
    }
    a.product-highlight-img {
        display: block;
        border: 1px solid #d9d9d9;
        background-color: #fff;
        height: 192px;
        padding: 18px 15px;
        text-align: center;
        border-radius: 20px;
    }
    a.product-highlight-img img {
        height: 192px;
        max-width: 300px;
    }
    div.product-highlight-item-title {
        height: 50px;
        padding: 10px 0px 5px;
        border: none;
        background: none;
    }
    a.title1 {
        font-size: 24px;
        text-decoration: none;
        font-family: "Swiss";
        color: #0888d2;
    }
    a:hover.title1 {
        text-decoration: underline;
    }
    div.product-highlight-item-description {
        text-align: justify;
        padding: 0px;
        background: none;
    }
    div.news-highlight {
        margin: auto;
        padding: 30px 0px;
        background-color: #f8f8f8;
    }
    div.news-highlight-content {
        margin: auto;
        width: 1110px;
    }
    div.news-highlight-list {
        float: left;
        width: 330px;
        padding: 0px 60px 0px 0px;
        border-bottom: none;
    }
    div.news-highlight-list:nth-child(3) {
        padding-right: 0px;
    }
    h1.news-highlight-title,
    h2.news-highlight-title,
    h3.news-highlight-title,
    h4.news-highlight-title {
        margin: 0px;
        padding: 0px 0px 20px;
        text-transform: uppercase;
        font-weight: normal;
    }
    a.news-highlight-img {
        display: block;
        border: 1px solid #d9d9d9;
        width: 328px;
        height: 188px;
        border-radius: 20px;
    }
    a.news-highlight-img img {
        width: 328px;
        height: 188px;
        border-radius: 20px;
    }
    div.news-highlight-list-item {
        padding: 20px 0px;
    }
    div.news-highlight-item {
        padding-bottom: 15px;
    }
    a.news-highlight-item-img {
        display: block;
        float: left;
        width: 90px;
        height: 63px;
        border: 1px solid #d9d9d9;
        border-radius: 5px;
        margin-right: 15px;
    }
    a.news-highlight-item-img img {
        width: 90px;
        height: 63px;
        border-radius: 5px;
    }
    a.title2 {
        text-decoration: none;
        color: #454545;
    }
    a:hover.title2 {
        text-decoration: underline;
        color: #0888d2;
    }
    div.news-highlight-list-item ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
    div.news-highlight-list-item li {
        background: url(../images/dot1.png) 0px 3px no-repeat;
        padding: 0px 0px 10px 28px;
    }
    div.footer {
        margin: auto;
        background-color: #0888d2;
        padding: 20px 0px;
    }
    div.footer-content {
        padding: 20px 0px 0px;
        border-top: 1px solid #e2e2e2;
        margin: auto;
        width: 1110px;
    }
    div.footer-logo {
        float: left;
        width: 295px;
        padding-right: 60px;
    }
    div.footer-logo-img {
        padding-bottom: 20px;
        text-align: left;
    }
    a.footer-logo-img {
        display: block;
    }
    a.footer-logo-img img {
        width: 225px;
    }
    div.footer-address {
        float: left;
        width: 465px;
        padding: 0px;
    }
    div.footer-title {
        padding: 0px 0px 15px;
        color: #fff;
        text-transform: uppercase;
        font-family: "SwissBold";
        font-size: 16px;
    }
    div.footer-address-content {
        color: #fff;
        font-size: 13px;
    }
    div.footer-menu {
        float: left;
        width: 290px;
        padding: 0px;
    }
    div.footer-menu ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
    div.footer-menu li {
        background: url(../images/dot2.png) 0px 6px no-repeat;
        padding-left: 15px;
        padding-bottom: 10px;
    }
    a.title3 {
        text-decoration: none;
        color: #fff;
    }
    a:hover.title3 {
        text-decoration: underline;
    }
    div.footer-social {
        padding: 0px 0px 0px 50px;
        text-align: left;
    }
    div.footer-social a {
        margin-right: 5px;
    }
    div.hotline {
        float: left;
        width: 440px;
        height: 35px;
        padding: 4px 0px;
    }
    span.hotline-icon {
        display: inline-block;
        background: url(../images/call-us.png) left no-repeat;
        color: #ff8f10;
        height: 22px;
        font-family: "SwissBold";
        font-size: 24px;
        padding-left: 40px;
        padding-top: 13px;
    }
    div.support-box-content {
        margin: auto;
        width: 1110px;
        position: static;
        padding: 0px;
        border: none;
    }
    a.hotline-phone {
        font-family: "SwissBold";
        font-size: 24px;
        text-decoration: none;
        color: #d57200;
        background: none;
        padding: 0px;
        border: none;
    }
    div.support-button {
        float: left;
        padding: 3px 0px;
        width: 300px;
    }
    div.support-button img {
        width: 214px;
    }
    div.search-form {
        float: right;
        width: 270px;
        height: 32px;
        padding: 5px 0px;
    }
    form.search-form {
        padding: 0px;
        padding: 0px 4px 0px 10px;
        background: url(../images/search-bg.png) no-repeat;
        height: 32px;
        width: 255px;
    }
    input.search-key {
        border: none;
        background: transparent;
        height: 32px;
        line-height: 32px;
        width: 215px;
        float: left;
    }
    input.search-button {
        height: 32px;
        width: 32px;
        border: none;
        background: url(../images/search-icon.png) no-repeat;
        cursor: pointer;
    }
    div.breadcrumb {
        margin: auto;
        width: 1110px;
        padding: 10px 0px;
    }
    div.breadcrumble_home {
        float: left;
        padding-right: 10px;
        margin-right: 5px;
        background: url(../images/breadcrumb.png) right no-repeat;
    }
    a.breadcrumble_title {
        text-decoration: none;
        color: #656565;
        font-style: italic;
        font-size: 12px;
    }
    a.breadcrumble_title:hover {
        text-decoration: underline;
    }
    span.breadcrumble_title {
        font-size: 12px;
        font-style: italic;
    }
    div.submenu-highlight {
        margin: auto;
        width: 1110px;
        padding: 0px 0px 20px;
    }
    h4.submenu-highlight-title {
        margin: 0px;
        padding: 0px 0px 15px;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: normal;
    }
    div.submenu-highlight ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
    div.submenu-highlight li {
        text-decoration: none;
        background: url(../images/service-dot.png) 0px 5px no-repeat;
        padding-left: 18px;
        display: inline-block;
        padding-bottom: 15px;
        padding-right: 25px;
    }
    div.submenu-highlight li a {
        color: #656565;
        text-decoration: none;
    }
    h1.news-list-title,
    h2.news-list-title,
    h3.news-list-title {
        margin: 0px 0px 40px;
        padding: 0px 0px 20px;
        font-size: 36px;
        font-family: "SwissBold";
        color: #0888d2;
        text-align: center;
        background: url(../images/line1.png) center bottom no-repeat;
    }
    div.news-list {
        margin: auto;
        padding: 0px 0px;
        width: 1110px;
    }
    div.news-item {
        float: left;
        width: 500px;
        padding-bottom: 40px;
    }
    div.news-item:nth-child(2n) {
        float: right;
    }
    a.news-item-img {
        display: block;
        float: left;
        width: 130px;
        margin-right: 20px;
        margin-top: 5px;
    }
    a.news-item-img img {
        width: 130px;
        height: 90px;
    }
    div.news-item-right {
        float: left;
        width: 350px;
    }
    a.title4 {
        font-family: "Swiss";
        color: #0888d2;
        font-size: 18px;
        text-decoration: none;
    }
    a:hover.title4 {
        text-decoration: underline;
    }
    div.news-item-description {
        color: #757575;
        padding: 10px 0px;
    }
    div.pagelist {
        padding: 20px 0px;
        text-align: center;
        border-bottom: 1px solid #d1d1d1;
    }
    div.pagelist span {
        display: inline-block;
        height: 35px;
        width: 35px;
        border: 1px solid #d1d1d1;
        border-radius: 2px;
        line-height: 35px;
        font-weight: bold;
    }
    div.pagelist a {
        display: inline-block;
        height: 35px;
        width: 35px;
        border: 1px solid #d1d1d1;
        border-radius: 2px;
        line-height: 35px;
        font-weight: normal;
        color: #0888d2;
        text-decoration: none;
    }
    div.pagelist a:hover {
        background: #e6f1e9;
    }
    div.news-detail {
        margin: auto;
        width: 1110px;
        padding: 0px;
    }
    h1.news-detail-title {
        margin: 0px;
        padding: 0px 0px 20px;
        font-size: 30px;
        font-family: "SwissBold";
        color: #0888d2;
    }
    div.news-detail-summery {
        font-style: italic;
        padding-bottom: 20px;
        color: #757575;
    }
    div.news-detail-content {
        padding-bottom: 30px;
        border-bottom: 1px solid #d1d1d1;
    }
    div.news-related {
        padding: 20px 0px;
        border-bottom: 1px solid #d1d1d1;
    }
    h4.news-related-title {
        text-transform: uppercase;
        font-family: "SwissBold";
        font-size: 20px;
        margin: 0px;
        padding: 0px 0px 20px;
    }
    div.news-related-item {
        float: left;
        width: 480px;
        padding-right: 70px;
        padding-bottom: 30px;
    }
    div.news-related-item:nth-child(2n) {
        padding-right: 0px;
    }
    a.news-related-img {
        display: block;
        float: left;
        width: 90px;
        margin-right: 20px;
        margin-top: 4px;
    }
    a.news-related-img img {
        width: 90px;
        white-space: 65px;
    }
    div.news-related-right {
        float: left;
        width: 370px;
    }
    a.title5 {
        font-family: "Swiss";
        color: #0888d2;
        font-size: 16px;
        text-decoration: none;
        line-height: 18px;
    }
    a.title5:hover {
        text-decoration: underline;
    }
    div.news-related-description {
        display: block;
        color: #757575;
        padding: 10px 0px 0px;
        line-height: 20px;
    }
    a.news-viewmore {
        text-decoration: none;
        text-transform: uppercase;
        color: #0888d2;
        font-style: italic;
        background: url(../images/viewmore_dot.png) right no-repeat;
        padding-right: 15px;
    }
    a:hover.news-viewmore {
        text-decoration: underline;
    }
    div.product-list {
        margin: auto;
        width: 1110px;
        padding: 20px 0px;
        border-bottom: 1px solid #d1d1d1;
    }
    div.product-list div.product-highlight-item {
        padding-bottom: 40px;
    }
    h1.product-detail-title,
    h2.product-detail-title,
    h3.product-detail-title {
        margin: 0px;
        padding: 0px 0px 20px;
        font-family: "SwissBold";
        font-size: 30px;
        color: #0888d2;
        font-weight: normal;
    }
    img.product-detail-img {
        float: left;
        width: 330px;
        padding-right: 50px;
    }
    div.product-detail-right {
        float: left;
        width: 700px;
    }
    div.product-detail-description {
        padding-bottom: 20px;
        font-style: italic;
    }
    div.product-price {
        padding-bottom: 20px;
    }
    span.product-price {
        color: #ff8f10;
        font-family: "SwissBold";
        font-size: 20px;
    }
    span.product-price-title {
        text-transform: uppercase;
    }
    div.product-detail-content {
        padding: 20px 0px;
        border-bottom: 1px solid #d1d1d1;
        margin-bottom: 20px;
    }
    h2.product-related-title,
    h3.product-related-title,
    h4.product-related-title {
        text-transform: uppercase;
        font-family: "SwissBold";
        font-size: 20px;
        margin: 0px;
        padding: 0px 0px 20px;
    }

    label.fotm_label {
        color: #474747;
        display: inline-block;
        font-size: 13px;
        font-weight: 400;
        line-height: 24px;
        margin: 0;
        padding: 0 0 18px;
        text-transform: uppercase;
        width: 120px;
    }
    input.form_name,
    textarea.form_content {
        border: 1px solid #c9c9c9;
        border-radius: 5px;
        color: #474747;
        font-size: 15px;
        margin-bottom: 0;
        padding: 5px 10px;
        width: 300px;
    }
    textarea.form_content {
        height: 100px;
        width: 300px;
    }
    span.require_form {
        color: red;
    }
    input.form_submit_contact {
        background: #1c5f27 none repeat scroll 0 0;
        border: medium none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        font-weight: 700;
        height: 32px;
        padding: 0 20px;
        text-transform: uppercase;
    }
    div.nh_item {
        border-bottom: 1px solid #d1d1d1;
        margin: auto;
        padding: 30px 0;
    }
    div.nh_item2 {
        background-color: #ededed;
    }
    div.nh_item div.nh_item_content {
        margin: auto;
        width: 1110px;
    }
    div.nh_item div.nh_item_img {
        border: 1px solid #d1d1d1;
        border-radius: 50%;
        float: left;
        margin-right: 20px;
        padding: 10px;
    }
    div.nh_item div.nh_item_img a {
        display: block;
    }
    div.nh_item div.nh_item_img img {
        border-radius: 50%;
        height: 200px;
        width: 200px;
    }
    div.nh_item p.nh_item_title {
        color: #0888d2;
        font-size: 20px;
        margin: 0;
        padding: 20px 0 20px;
        color: #0888d2;
        font-family: "SwissBold";
        text-transform: uppercase;
    }
    p.nh_item_title a {
        color: #0888d2;
        font-family: "SwissBold";
        text-transform: uppercase;
        text-decoration: none;
    }
    p.nh_item_title a:hover {
        text-decoration: underline;
    }
    div.nh_item div.nh_item_summary {
        line-height: 28px;
        text-align: justify;
    }

    div.nh_item div.product_item_img {
        float: left;
    }
    div.nh_item div.product_item_c {
        float: right;
        width: 700px;
    }
    div.nh_item2 div.product_item_img {
        float: right;
    }
    div.nh_item2 div.product_item_c {
        float: left;
    }
    div.nh_item div.product_item_img img {
        height: 300px;
        width: 400px;
    }
    div.nh_item h4.product_item_title {
        color: #0888d2;
        font-size: 20px;
        margin: 0;
        padding: 20px 0 20px;
        color: #0888d2;
        font-family: "SwissBold";
        text-transform: uppercase;
        font-weight: normal;
    }
    div.nh_item div.product_item_summary {
        line-height: 28px;
        text-align: justify;
    }
    div.product_item_price {
        color: #747474;
        font-family: "SwissBold";
        padding-bottom: 10px;
        text-transform: uppercase;
    }
    span.product_price {
        color: #f00;
    }
    div.fiction-company-item:nth-child(2n) {
        margin-right: 0px;
    }
    div.certificate_img ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
    div.certificate_img li {
        float: left;
    }
    div.certificate_img {
        float: left;
        width: 50%;
    }
    div.fiction-company {
        float: left;
        width: 48%;
        padding: 0px;
        border-left: 2px solid #6cc088;
    }
    div.blog_certificate {
        background: url(../images/bg_certificate.png) repeat;
    }
    div.certificate_img div.jCarouselLitett {
        width: 500px !important;
        float: right;
        margin-right: 70px;
        height: 520px !important;
        margin-top: 30px;
        border: 1px solid #fff;
    }
    div.certificate_img div.jCarouselLitett img {
        width: 500px !important;
        height: 520px !important;
    }
    div.certificate_img button.prev {
        position: absolute;
        top: 250px;
        left: 10px;
        height: 42px;
        width: 42px;
        background: url(../images/arrow-left-2.png) no-repeat;
        z-index: 999;
        border: none;
        cursor: pointer;
    }
    div.certificate_img button.next {
        position: absolute;
        top: 250px;
        right: 10px;
        height: 42px;
        width: 42px;
        background: url(../images/arrow-right-2.png) no-repeat;
        z-index: 999;
        border: none;
        cursor: pointer;
    }
    div.hot_album_img {
        float: left;
        width: 540px;
    }
    div.hot_video {
        float: right;
        width: 540px;
        padding: 0px;
    }
    a.hot_album_img {
        display: block;
        width: 390px;
        float: left;
    }
    a.hot_album_img img {
        width: 390px;
        height: 290px;
    }
    div.hot_album_imgright {
        float: left;
        width: 140px;
        padding-left: 10px;
    }
    div.hot_album_imgright a {
        display: block;
        margin-bottom: 10px;
    }
    div.hot_album_imgright img {
        width: 140px;
        height: 90px;
    }
    .video_home {
        width: 100%;
        height: 290px;
    }
    div.news-related ul {
        margin: 0px 0px 0px 20px;
        padding: 0px;
        list-style: circle;
    }
    div.news-related li {
        padding-bottom: 10px;
    }
    div.video_item {
        float: left;
        padding-right: 10px;
        padding-bottom: 20px;
    }
}
strong._pt {
    background: rgba(0, 0, 0, 0) url("../images/lg-icon.png") no-repeat scroll 0
        0;
    color: #0888d2;
    line-height: 25px;
    text-transform: uppercase;
    height: 25px;
    padding: 0 0 0 30px;
    display: block;
}
ul._pul {
    list-style: none;
    padding: 0;
    margin: 0 0 0 20px;
}
ul._pul li {
    background: url("../images/dot_10x10.png") no-repeat left center;
    padding: 0 0 0 20px;
    line-height: 30px;
}
